/* src/styles.css */
body {
  font-family: Arial, sans-serif;
}
:root {
  --bg-card: #ffffff;
  --bg-surface: #f5f5f5;
  --text-primary: #222222;
  --text-secondary: #555555;
  --shadow: rgba(0,0,0,0.08);
  --accent: #4a90e2;
  --accent-strong: #1e73c8;
}

[data-theme="dark"] {
  --bg-card: #1e1e1e;
  --bg-surface: #121212;
  --text-primary: #f1f1f1;
  --text-secondary: #cfcfcf;
  --shadow: rgba(0,0,0,0.5);
  --accent: #6aa8ff;
  --accent-strong: #2f7be4;
}
/* Choose button (first button) for upload button ,hover*/
.p-fileupload .p-button:nth-child(1) {
  background-color:#75718d!important;   /* Blue */
  border-color: #1c1c1d !important;
  color: white !important;
  
}
.p-fileupload .p-button:nth-child(1):hover {
  background-color: #b4acd3 !important;
  border-color: #383a39 !important;
}
